/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #DDDDDD;
  background:#0D0D00;
}


.navbar-brand {
	font-size:2em;
	font-weight:bold;
	color:#FFF;
}

.navbar-brand small {
	font-size:0.5em;
	display:block;
	line-height:2em;
	font-style:italic;
	font-weight:normal;
}


.navbar .contact {
	padding:10px;
	font-size:1.3em;
	background:#385E36;
	color:#cccccc;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.navbar .contact strong{
	color:#ffffff;
}
.navbar .contact small{
	font-size:0.9em;
	display:block;
	color:#A6EFFF;
	}
h1 {
	
	color:#A6EFFF;
	font-size:23px;
  line-height: 1.4em;
}

hr {
	
	border-color:#555;
	
}
.page-header {
	
	border-bottom:1px dotted #555;
}
.row > h2, .row + h2 {
	
	margin:50px 0;
	
}
p + h2, .page-header + h2 {
	
	margin-top:50px;
}

.shadowed {
	
	box-shadow:5px 5px 20px rgba(0,0,0,0.9);
	border-radius:10px;
}
.media .media-left img {
	border-radius:6px;
}

.label-default {
	
	background-color: #385E36;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
  background:#434394;
  padding:10px;
  color:#eee;
  border-radius:10px;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.panjabi {
    font-family: 'Baloo Paaji', cursive;
	font-size:1.9em;
}

.line-ups {
  background: #335;
margin: 2rem auto;
}
.line-ups small {
  color: #bbb;
}
/* RESPONSIVE CSS
 * 
 * 785 - 1018 - need .contact to have more margin?
 * 875 - 1007 = container = 750px should be 96% or 850px??
-------------------------------------------------- */



@media (min-width: 875px) {

	.container {width:95%}

}



@media (max-width: 1007px) {

	.container {width:95%}


}



@media (max-width: 768px) {

	.navbar-header {
		
		display:block;
		clear:both;
	}	
	.navbar .contact {
		
		 margin-top: 0px;
		border-radius: 10px;

	}
  .navbar-brand small {
    visibility: hidden;
  }

}




@media (min-width: 768px) {


  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
    .navbar .contact {
    
     display: block;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

@media (min-width: 1150px) {
	  .container {
		
		width:85%;
	}

}
